# Python
__pycache__/
*.py[cod]

# PyInstaller
build/
dist/
*.spec

# Virtual environments
.venv/
venv/
env/

# IDE settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log
